@using Entities.Concrate
@model List<Contact>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	var count = 1;
}

<div class="col-sm-12 col-xl-12">
	<div class="bg-secondary rounded h-100 p-4">
		<h6 class="mb-4">Contact</h6>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Message</th>
					<th scope="col">Phone</th>
					<th scope="col">Date</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{

					<tr>
						<th scope="row">@count</th>
						<td>@item.Name</td>
						<td>@item.Email</td>
						<td>@item.Message</td>
						<td>@item.Phone</td>
						<td>@item.Date</td>

						<td> <a type="button" class="btn btn-outline-primary m-2" asp-area="Admin" asp-action="Delete" asp-controller="Contact" asp-route-Id="@item.Id">Delete</a></td>

					</tr>
					count++;
				}
				
			</tbody>
		</table>
	</div>
</div>

