@using Entities.Concrate
@model List<Language>
@{
	Layout = null;
}

<div class="col-lg-5 ms-auto mt-5 mt-lg-0">
	<h3 class="subtitle">Language</h3>
	<div id="skills">
		@foreach (var item in Model)
		{

			<div class="col-lg-12 skill-box">
				<div class="skill-text">
					<div class="skillbar-title">@item.Name <span> @item.Level</span></div>
					<div class="skill-bar-percent"><span data-from="0" data-to="@item.Percent" data-speed="4000">@item.Percent</span>%</div>
				</div>
				<div class="skillbar clearfix" data-percent="@item.Percent%">
					<div class="skillbar-bar"></div>
				</div>
			</div>
		}
</div>
